<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div th:insert="nav.html"></div>

<div class="container mt-3">


    <div th:object="${car}">
        <form method="post" action="/update-car">
            <input type="hidden" name="id" th:value="${car.id}">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <label>MODEL:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <input type="text" name="model" class="form-control" th:value="${car.model}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <label>ENGINE:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <input type="text" name="engine" class="form-control" th:value="${car.engine}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <label>COST:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <input type="text" name="cost" class="form-control" th:value="${car.cost}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <label>COUNTRY:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <input type="text" name="country" class="form-control" th:value="${car.country}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <label>DESCRIPTION:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                    <textarea class="form-control" name="description"
                                              th:text="${car.description}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div>
                                <button class="btn btn-success btn-sm">UPDATE CAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form style="margin-left: 150px" class="mt-3" method="post" action="/delete-car">
            <input type="hidden" th:value="${car.id}" name="id">
            <button class="btn btn-danger btn-sm">DELETE CAR</button>
        </form>

    </div>
</div>
</body>
</html>