<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div th:insert="nav.html"></div>

<div class="container mt-3">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCar">
        + add car
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addCar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">ADD CAR</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/add-car">
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <label>MODEL:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <input type="text" name="model" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <label>ENGINE:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <input type="text" name="engine" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <label>COST:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <input type="text" name="cost" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <label>COUNTRY:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <input type="text" name="country" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <label>DESCRIPTION:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div>
                                    <textarea class="form-control" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">ADD CAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>MODEL</th>
            <th>ENGINE</th>
            <th>PRICE</th>
            <th>COUNTRY</th>
            <th>DESCRIPTION</th>
            <th>DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.engine}"></td>
            <td th:text="${car.cost}"></td>
            <td th:text="${car.country}"></td>
            <td th:text="${car.description}"></td>
            <td style="width: 8%;"><a class="btn btn-sm btn-secondary"  th:href="@{'/get-car/' + ${car.getId()}}" >DETAILS</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>